# application-docker.yml - For DOCKER deployment
# Place in config-repo as SERVICE_NAME-docker.yml

spring:
  application:
    name: SERVICE_NAME
  
  datasource:
    url: jdbc:postgresql://postgres:5432/DATABASE_NAME
    username: postgres
    password: ${DB_PASSWORD:password}
  
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  
  kafka:
    bootstrap-servers: kafka:9092
  
  cloud:
    compatibility-verifier:
      enabled: false

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

server:
  port: 8080
