@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans antialiased text-secondary-900 bg-secondary-50;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}