server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: https://github.com/Tirth-22/neighborhood-microservices-exchange-platform.git
          default-label: main
          search-paths: config-repo
          clone-on-start: true

---
spring:
  config:
    activate:
      on-profile: native
  cloud:
    config:
      server:
        native:
          search-locations: file:/config-repo

management:
  endpoints:
    web:
      exposure:
        include: health,info
