server:
  port: 8888

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        native:
          search-locations:
            - file:../auth-service
            - file:../user-service
            - file:../api-gateway
            - file:../request-service
